_site/
.sass-cache/
.jekyll-metadata
.jekyll
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
CNAME
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.exe
Desktop.ini
.DS_Store
$RECYCLE.BIN/
*.lnk
.idea/*
.vscode/settings.json
.jekyll-cache